<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /vida_estudiantil_Hitha/cpanel/pages/ministerios/
    
    # Redirigir URL sin .php a .php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-zA-Z0-9_-]+)/?$ $1.php [QSA]
    RewriteRule ^([a-zA-Z0-9_-]+)/\?(.*)$ $1.php?$2 [QSA]
</IfModule>
